@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Emoji Builder</title>

    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="container nav">
            <a href="/">🧱 Emojis</a>
            <a href="/Categories">📂 Categories</a>
            <a href="/Subcategories">📑 Subcategories</a>
            <a href="/Export">📤 Export</a>
        </nav>
    </header>

    <main class="container">
        @RenderBody()
    </main>

    <footer class="container footer">
        <p>&copy; @DateTime.Now.Year - Afrowave Emoji Toolkit</p>
    </footer>

	<script src="~/js/ms-signalr.min.js"></script> <!-- signalr modul -->
    <script src="~/js/signalr.js"></script> <!-- oddělený signalr modul -->
    <script src="~/js/app.js"></script>
</body>
</html>
